@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');
*{
    padding:0;
    margin: 0;
    
}
html{
    background-color: black;
}
body{
    font-family: 'Poppins', sans-serif;
}
.left{
    width: 25vw;
    padding:5px ;
}
.right{
    width: 75vw;
    margin:12px 2px;
    position: relative;
}
.home{

}
.home ul{
    margin: 2px;
    padding:3px 10px;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-bottom: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap:15px;
    width: 100%;
    font-weight: bold;
    align-items: center;
    font-size: 10px;

}
.library{
    padding-top:5px;
    min-height: 70vh;
    position: relative;
}
.logo{
    margin-left: 4px;
}
.heading img{
    width: 30px;
}
.footer{
    font-size: 10px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}
.header{
    justify-content: space-between;
    background-color: rgb(46, 46, 46);
    border-radius: 8px 8px 0 0;
    height: 66px;
}
.footer a{
    color: grey;
}
.header >*{
    padding: 20px;
}
.spotify-playlist{
    padding: 6px;
}
.card-container{
}
.card{
    display: inline-table;
    width: 130px;
    background-color: #252525;
    font-size: 9px;
    position: relative;
}
.card >*{
    padding-top: 10px;
}
.card:hover{
    background-color: #383838;
    
}
.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    opacity: 0;
    height: 35px;
    top:124px;
    right: -44px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
    cursor: pointer;
}
.card:hover .play{
    top: 112px;
    right: -44px;
    opacity: 1;
}
.signupBtn{
    background-color:transparent;
    color:black;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
.signupBtn:hover{
    font-size: 15px;
    color: white;
}
.loginBtn{
    background-color: white;
    color: black;
    width:75px;
    cursor: pointer;
    border-radius: 50px;
    padding: 8px 15px;
    border: none;
    margin-left: 20px;
}
.loginBtn:hover{
    font-weight: bold;
    font-size: 80%;
}
.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(47, 150, 47);
    width: 100%;
    padding: 10px;
}
.songbuttons{
    justify-content: center;
    gap: 30px;
}
