@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Poppins:wght@300;400&display=swap');
*{
    padding:0;
    margin: 0;
}
html{
    background-color: black;
    display:block;
    overflow: none;
}
body{
    font-family: 'Poppins', sans-serif;
    display:block;
    width: 100%;
}
.left{
    width: 30vw;
    padding:0px ;
}
.right{
    width: 70vw;
    margin:12px 0px;
    margin-right: 10px;
    position: relative;
}
.home ul{
    margin: 2px;
    padding:3px 10px;
}
.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-bottom: 14px;
    font-weight: bold;
}
.heading{
    display: flex;
    gap:15px;
    width: 100%;
    font-weight: bold;
    align-items: center;
    font-size: 10px;

}
.library{
    padding-top:5px;
    min-height: 70vh;
    position: relative;
}
.logo{
    margin-left: 4px;
}
.heading img{
    width: 30px;
}
.footer{
    font-size: 10px;
    background-color: rgb(226, 224, 224);
    gap: 13px;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    padding: 23px 10px;
    border-top: 2px solid black ;
    border-radius: 0 0 8px 8px;
}
.header{
    justify-content: space-between;
    background-color: rgb(46, 46, 46);
    border-radius: 8px 8px 0 0;
    /* height: 66px; */
}
.footer a{
    color: rgb(30, 29, 29);
}
.header >*{
    padding: 20px;
}
.spotify-playlist{
    padding: 6px;
}
.spotify-playlist h1{
    padding: 15px;
}
.card{
    display: inline-table;
    width: 130px;
    background-color: #252525;
    font-size: 9px;
    position: relative;
}
.card-container{
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    max-height: 55vh;
    gap: 10px;
    flex-wrap: wrap;
    margin: 3px;
    margin-bottom: 0;
}
.card-container::-webkit-scrollbar {
width: 10px;
}
.card-container::-webkit-scrollbar-track {
background: #f1f1f1;
}
.card-container::-webkit-scrollbar-thumb {
background: #888;
}
.card >*{
    padding-top: 10px;
}
.card:hover{
    background-color: #383838;
    
}
.card img{
    width: 100%;
    object-fit: contain;
}

.play{
    opacity: 0;
    height: 35px;
    top:124px;
    right: -44px;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-out;
    cursor: pointer;
}
.card:hover .play{
    top: 112px;
    right: -44px;
    opacity: 1;
}
.signupBtn{
    background-color:transparent;
    color:black;
    font-size: 14px;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
.signupBtn:hover{
    font-size: 15px;
    color: white;
}
.loginBtn{
    background-color: white;
    color: black;
    width:75px;
    cursor: pointer;
    border-radius: 50px;
    padding: 8px 15px;
    border: none;
    margin-left: 20px;
}
.loginBtn:hover{
    font-weight: bold;
    font-size: 80%;
}
.playbar{
    position: absolute;
    filter: invert(1);
    bottom: 10px;
    right: 10px;
    background-color: rgb(210, 210, 210);
    padding: 10px;
    border-radius: 10px;
    left: 10px;

}
.songbuttons{
    justify-content: center;
    gap: 14px;
    margin-bottom: 2px;
}
.songbuttons img{
    cursor: pointer;
}
.songlist ul{
    overflow-y: auto;
    max-height: 50vh;
}
.songlist ul::-webkit-scrollbar {
    width: 10px;
    }
.songlist ul::-webkit-scrollbar-track {
    background: #f1f1f1;
    }
.songlist ul::-webkit-scrollbar-thumb {
    background: #888;
    }
.songlist ul li{
    list-style-type: decimal;
    gap: 12px;
    justify-content: space-between;
    cursor: pointer;
    padding: 13px;
    border: 1px solid white 0.491;
    
    border-radius: 5px;
}
.songlist .info{
    font-size: 13px;
}
.info div{
    word-break: break-all;
    width: 200px;
}
.playNow{
    justify-content: center;
    align-items: center;
    display: flex;
}
.playNow span{
    width: 65px;
    font-size: 13px; 
}
.play-button{
    background: transparent;
    border: 0;
}
.seekBar{
    width: 94%;
    border-radius: 10px;
    height: 0px;
    border: 2px solid black;
    position: absolute;
    bottom: 0;
    margin:5px 12px;
    cursor: pointer;
}
.circle{
    width: 13px;
    height: 13px;
    position: relative;
    bottom: 6px;
    border-radius: 13px;
    background-color: black;
    left: 0%;
    transition: left 0.5s;
}
.songbuttons img{
    cursor: pointer;
}
.songinfo ,.songtime{
    color: black;
    padding: 0 12px;
    width:300px;
    overflow: hidden;
}
.songtime{
    display: flex;
    justify-content: flex-end;
}
.volume{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.volume input{
    width:100px;
    display: none;
    cursor: pointer;
    accent-color: rgb(24, 24, 24);
}
.volume img{
    cursor: pointer;
}
.abovebar{
    justify-content: space-between;
    margin: 20px 0;
    height: 27px;
}
.hamburger{
    display: none;
}
.hamburgercontain{
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.close{
    display: none;
}



/* Media querries for responsiveness */
@media (max-width:800px){
    .left{
        background-color: red;
        position: absolute;
        left: -120%;
        transition: all .5s;
        z-index: 1;
        width: 370px;
    }
    .container{
        height:100vh;
    }
    .card-container{
        max-height: 64vh;
    }
    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;   
    }
    .right{
        width: 100vw;

    }
    .playbar{
        width: calc(100% - 50px);
        font-size: 12px;
    }
    .hamburger{
        display: block;
        width: 30px;
    }
    .close{
        display: block;
    }
    .seekBar{
        width: calc(100% - 50px);
    }
    .card{
        width:85vw;
    }
    .card-container{
        margin: 0;
        justify-content: center;
    }
    .songinfo,.songtime{
        width: auto;
    }
    .abovebar{
        flex-direction: column;
        gap: 14px;
        align-items: center;
    }
}
